body {
    text-align: center;
    padding-top: 100px;
  }
  
  button {
    border-radius: 10px;
    font-size: 22px;
    padding: 12px 24px;
    background-color: #4FCE5D;
    color: white;
    border: none;
    cursor: pointer;
  }