/* header (placeholder, delete) */
header {
    background-color:rgb(99, 99, 216);
    padding: 20px;
    color: #fff;
  }
  
  #headerdiv{
    text-align: center;
  }


/*botão*/

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(26, 221, 221); /* cor da barra atras do botão */
  }
  
  .circle-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(51, 51, 146); /*cor do botão*/
    color: white;                       /* cor do texto do botão*/
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  

  #video-container {
    
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: 1000px;                      /* tamanho da tela do video */
    height: 600px;                      /* tamanho da tela do video */
    margin-top: 10px;
  }

  #video-container iframe {
    max-width: 100%;
    max-height: 100%;
  }

  #description-container {
  position: absolute;
  left: 50%;
  top: 69%; 
  transform: translate(-50%, -50%);
  text-align: center;
  }
