.logo {
    width: 120px;

}
.imgcarousel {
    width: 100%;
    height: 100%;
}
.carousel-inner {
    border-radius: 10px !important;
}

.barra-da-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
