/* header (placeholder, delete) */
header {
    background-color:rgb(99, 99, 216);
    padding: 20px;
    color: #fff;
  }
  
  #headerdiv{
    text-align: center;
  }

/* elementos do js */

#container {
/*  padding-top: 10px;  *
  padding-bottom: 10px;  *
  background-color: aqua; *   
  border-radius: 20px; *      caso queira tentar colocar um fundo colorido atras dos cards descomente os "*"  */    
  margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  @media screen and (min-width: 2560px) {
    #container {
      gap: 20px; 
    }
  }
  
  
  @media screen and (max-width: 768px) {
    #container {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }

    .card {
      width: 100%;
    }
  }

 
  
  .card {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card .build-name {
    font-size: 14px;
  }



#container h2 {
    background-color: rgb(17, 59, 107); /* cor da barrinha com o nome da build*/
    padding: 10px;
   
}

#container .card {
    background-color: rgb(132, 168, 190); /*cor dos cards*/
}
  